@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Indie+Flower&family=Shadows+Into+Light&family=The+Girl+Next+Door&family=Ubuntu+Mono&display=swap');


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "The Girl Next Door", sans-serif;
    font-weight: bold;
}

h1 {
    margin-top: auto;
    padding: 35px;
}

.list {
    height: 700px;
    width: 700px;
    background-color: #AAE3E2;
    margin: auto;
    margin-top: 100px;
}

li {
    list-style: none;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: relative;
    background-color: lavender;
    font-size: large;
}

p {
    margin-left: 40px;
    font-size: smaller;
}

button {
    justify-content: end;
    position: absolute;
    right: 0%;
    margin-right: 20px;
    margin-bottom: 5px;
    border: none;
    background-color: lavender;
}
